@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: black;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0.1;
  background-color: #ff99be;
  background-image:
    radial-gradient(at 85% 42%, hsla(157, 68%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 36% 16%, hsla(83, 86%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 29% 22%, hsla(341, 90%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 93%, hsla(351, 96%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 86% 23%, hsla(28, 80%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 16% 21%, hsla(225, 97%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 19% 0%, hsla(193, 91%, 63%, 1) 0px, transparent 50%);
}
